{% extends 'base.html' %}

{% block content %}
<h1>Zona de Usuarios Registrados</h1>
<h2>Datos de contactos</h2>

<table class="table table-striped table-sm">
    <tr>
        <th>Nombre</th>
        <!--<th>Email</th>-->
        <!--<th>Dirección 1</th>-->
        <!--<th>Dirección 2</th>-->
        <th>Teléfono</th>
        <th>Ciudad</th>
        <!--<th>Estado</th>-->
        <!--<th>Código Postal</th>-->
        <th>Mensaje</th>
        <th>Acciones</th>
    </tr>
    {% for dato in datos %}
    <tr>
        <td>{{ dato.name }}</td>
        <!--<td>{{ dato.email }}</td>-->
        <!--<td>{{ dato.address1 }}</td>-->
        <!--<td>{{ dato.address2 }}</td>-->
        <td><a href="tel:{{ dato.phone }}">{{ dato.phone }}</a></td>
        <td>{{ dato.city }}</td>
        <!--<td>{{ dato.state }}</td>-->
        <!--<td>{{ dato.zip }}</td>-->
        <td>{{ dato.message }}</td>
        <td><a href="#" onclick="cargar('contacto/{{ dato.id }}')">ver más...</a></td>
    </tr>
    {% endfor %}
</table>
<small>Este espacio es solo para usuarios registrados. <a href="/logout">Cerrar sesión</a></small>
{% endblock%}