<div class="ms-4">
    <h2>Servicios</h2>
    <p>Servicios disponibles para nuestra preciada clientela.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 p-4">
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='img/estaticos.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desarrollos Estáticos</h5>
                <p class="card-text">
                    El desarrollo estático garantiza estructuras
                    sólidas y seguras, enfocándose en la estabilidad
                    y eficiencia de cada proyecto para un rendimiento duradero.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='img/dinamicos.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desarrollos Dinámicos</h5>
                <p class="card-text">
                    Ofrecemos soluciones flexibles y adaptables, optimizadas
                    para responder eficazmente a entornos cambiantes
                    y necesidades en constante evolución.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='img/alamedida.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diseño a la Medida</h5>
                <p class="card-text">
                    Generamos soluciones personalizadas que se ajustan
                    a las necesidades de cada cliente, garantizando
                    funcionalidad y eficiencia en cada proyecto.
                </p>
            </div>
        </div>
    </div>
</div>