<h1>Contáctenos</h1>

<p id="parrafoCabecera">Complete el siguiente formulario para ponerse en contacto con nuestro equipo.</p>

    <div class="col-12">
        Nombre completo:
        {{ contacto.name}}
   </div>
    <div class="col-12">
        Correo electrónico:
        {{ contacto.email}}
    </div>
    <div class="col-12">
        Dirección:
        {{ contacto.address1 }}
    </div>
    <div class="col-12">
       Barrio:
        {{ contacto.address2 }}
    </div>
    <div class="col-12">
       Teléfono:
        {{ contacto.phone }}
    </div>
    <div class="col-md-12">
        Ciudad:
        {{ contacto.city }}
    </div>
    <div class="col-md-12">
        Estado:
        {{ contacto.state }}
    </div>
    <div class="col-md-12">
        Código Postal:
        {{ contacto.zip }}
    </div>
    <div class="col-12">
        Mensaje:
        {{ contacto.message }}
    </div>